<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="adobereader" />
      <package id="googlechrome" />
      <package id="chocolatey-core.extension" />
      <package id="jre8" />
      <package id="firefox" />
      <package id="7zip.install" />
      <package id="notepadplusplus.install" />
      <package id="vlc" />
      <package id="git.install" />
      <package id="winrar" />
      <package id="putty.install" />
      <package id="sysinternals" />
      <package id="skype" />
      <package id="gimp" />
      <package id="teamviewer" />
      <package id="curl" />
      <package id="itunes" />
      <package id="autoruns" />
      <package id="php" />
      <package id="treesizefree" />
      <package id="vscode.install" />
      <package id="winscp.install" />
      <package id="cygwin" />
      <package id="microsoft-teams.install" />
      <package id="chocolateygui" />
      <package id="vim" />
      <package id="nodejs-lts" />
      <package id="youtube-dl" />
      <package id="ffmpeg" />
      <package id="spotify" />
      <package id="windirstat" />
      <package id="audacity" />
      <package id="zoom" />
      <package id="openvpn" />
      <package id="qbittorrent" />
      <package id="postman" />
      <package id="google-drive-file-stream" />
      <package id="microsoft-windows-terminal" />
      <package id="mysql.workbench" />
      <package id="rufus" />
      <package id="gpg4win-vanilla" />
      <package id="telegram.install" />
      <package id="nmap" />
      <package id="gitextensions" />
      <package id="whatsapp" />
      <package id="mremoteng" />
      <package id="processhacker.install" />
      <package id="mongodb.install" />
      <package id="sharex" />
      <package id="discord" />
      <package id="arduino" />
      <package id="markdownmonster" />
      <package id="obs-studio" />
      <package id="consolez" />
      <package id="mpv" />
      <package id="mediainfo" />
      <package id="hyper" />
      <package id="powertoys" />
      <package id="vmwareworkstation" />
      <package id="bitnami-xampp" />
      <package id="cyberduck.install" />
      <package id="pickelsui" />
      <package id="robo3t.install" />
      <package id="bitvise-ssh-client" />
    </packages>
